*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hsl(210, 46%, 95%);
   
}

.conteiner {
   
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    grid-row-gap:2rem;
    grid-column-gap:2rem;
    grid-template-areas: 
     " Daniel Daniel Jonathan Kira"
     "Jenette Patrick Patrick Kira";
    justify-content: space-evenly;
    align-content: center;
   
}

.conteiner .card{
    border-radius: 10px;
}
.Daniel {
    grid-area: Daniel;
    background-color: rgb(115,63,200);
    color: #fff;
     position:relative;
    
 }

 .quotation{
     position: absolute;
     height: 15vh;
     top:0;
     left:60%;
     /* opacity: 70%; */
     
    
 }

/* na background treba da stavim opacity */

.Daniel .opacity-text {
   
    
    opacity: 70%;
}

.Daniel article p:nth-of-type(2){
    color:  rgb(167, 117, 242);
    
}
.Daniel header img{
    border:2px solid rgb(167, 117, 242);

}
/* .Daniel .opacity-text {
    opacity:50%
} */

.Jonathan {
    grid-area: Jonathan;
    background-color:  hsl(217, 19%, 35%);
     color: #fff;
}
.Kira {
    grid-area: Kira;
    background-color: hsl(0, 0%, 100%);
    color: #4a5261;    
    text-shadow: 1px 0px 2px #959DA8
    
}
.Jenette {
    grid-area: Jenette;
     background-color: #fff;
    color: #4a5261;    
    text-shadow: 1px 0px 2px #959DA8;
}
.Jenette img, .Kira img {
    border:1px solid #4a5261
}

.Patrick img {
    border:2px solid rgb(167, 117, 242)
}
section header p {
    opacity: 50%;
    font-weight: 500;
    font-size: 0.7rem;
    margin-top: 2px;
}
.Patrick {
    grid-area: Patrick;
    background-color: hsl(219, 29%, 14%);
     color: #fff;
    
}

section {
padding: 1rem;
  overflow: hidden;
}

section header {
    height: 5vh;  
    display: flex;
    flex-direction: row;
}


section header img {
    height: 100%;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin-right: 15px;
   
}

section article p:first-of-type{
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
   

}

section article p:nth-of-type(2){
   font-weight: 500;
   line-height: 1.6;

}

/* mobile design */
@media screen and (max-width: 376px){

    .conteiner { 
   
    grid-template-areas: 
    "Daniel"
    "Jonahtan"
    "Jenette"
    "Patrick"
    "Kira";
  
       grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(5,1fr);
      grid-gap: 2rem 0;
      /*ovde mi pravi problem
      kao da grid template areas ne radi 
      kada izvrsim inspekciju grida u browseru ne napravi grid od 
      jedne koloone i 5 redova*/
}
    
}



